.bad_link
{	opacity: 0.9; 
	text-decoration: line-through !important;
	-webkit-filter: blur(1px) grayscale(70%);
	/*-webkit-filter: ;*/
  	/*-moz-filter: blur(1px);*/
  	/*-o-filter: blur(1px);*/
  	/*-ms-filter: blur(1px);*/
  	/*filter: blur(1px);*/
}





.good_link  
{
	background: rgba(255, 181, 0, 0.2);
}





#nuke_overlay, #nuke_image  {
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 10000;
}

#nuke_overlay {  
	background-color: rgba(33,15,3,0.96);  }

#nuke_image {
	/*background-image:url('chrome-extension://__MSG_@@extension_id__/images/MushroomCloud.png');*/
    background-image:url('/images/MushroomCloud.png');
  	background-position: bottom center;
  	background-size: cover;
  	opacity: 0.5;
}

#page_blammed_textbox {
	  position: fixed;
    font-size: 15px;
	  top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	/*height: 200;*/
  	width: 150;
  	z-index: 10001;
  	padding: 15px;
  	color: #EEE;
  	background-color: #333;
  	border-radius: 10px;
  	border: solid #999 1px;
  	box-shadow: 4px 4px 15px rgba(0,0,0,0.4);
    text-align: center;
}

#view_anyways  {
    background-color: #EEE;
    color: #222;
}


#powered_by {
  display: none;
}


